

services:
  postgres:
    image: postgres:15
    container_name: finflow-postgres
    environment:
      POSTGRES_USER: finflowuser
      POSTGRES_PASSWORD: finflowpass
      POSTGRES_DB: finflowdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - finflow-net

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: finflow-api
    ports:
      - "5001:80"
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=finflowdb;Username=finflowuser;Password=finflowpass
      Jwt__Key: 8e04aJboR63wLHyntYkA+NqetwFglo13cUkdoRJbkmc=
      Jwt__Issuer: FinFlowAPI
      Jwt__Audience: FinFlowUsers
      Stripe__SecretKey: sk_test_change_me
      Stripe__WebhookSecret: whsec_change_me
      Stripe__SuccessUrl: http://localhost:3000/dashboard
      Stripe__CancelUrl: http://localhost:3000/dashboard
      FRONTEND_URLS: http://localhost:3000
    networks:
      - finflow-net

  ui:
    build:
      context: ./finflow-ui
      dockerfile: Dockerfile
    container_name: finflow-ui
    ports:
      - "3000:3000"
    depends_on:
      - api
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://finflow-api:80
      - NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_change_me
    networks:
      - finflow-net

  pgadmin:
    image: dpage/pgadmin4
    container_name: finflow-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@finflow.com
      PGADMIN_DEFAULT_PASSWORD: adminpass
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - finflow-net

volumes:
  pgdata:

networks:
  finflow-net:
    driver: bridge
